@using JYXWeb.Util;
<md-toolbar class="md-warn" ng-cloak>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$appUtil.openMenu()" hide-gt-sm aria-label="Toggle Menu">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        @*<md-menu>
        <md-button aria-label="" ng-mouseenter="$mdMenu.open()" href="/Package/Index">
            我要转运
            <md-icon class="material-icons">keyboard_arrow_down</md-icon>
        </md-button>
        <md-menu-content width="4" ng-mouseleave="$mdMenu.close()" style="margin-top:64px">
            <md-menu-item>
                <md-button href="/Package?newPackage=true">
                    原装闪运
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button href="/Package?newPackage=true&holdPackage=true">
                    普通转运
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button href="/Package">
                    包裹管理
                </md-button>
            </md-menu-item>
    </md-menu>*@
        <md-button aria-label="" href="/Home/Service">
            渠道说明
        </md-button>
        <span flex></span>
        @{var username = User.Identity.Name.Split('@')[0];
            if (User.Identity.GetFirstName() != "" || User.Identity.GetLastName() != "")
            {
                username = User.Identity.GetFirstName() + " " + User.Identity.GetLastName();
            }
        }
        <md-button aria-label="" href="/Address/UploadIDCard">
            上传身份证
        </md-button>
        <md-button aria-label="" href="/Account">
            @(username + " 欢迎你")
        </md-button>
    </div>
</md-toolbar>


