<md-content class="md-padding">
    <h4>1. 点击包裹最后操作当中的分箱按钮</h4>
    <img src="~/Images/Intro/IntroSplitPackage1.jpg" style="max-width:100%">
    <h4>2. 点击操作当中的按钮进行分箱</h4>
    <img src="~/Images/Intro/IntroSplitPackage2.jpg" style="max-width:100%">
    <h4>3. 点击确认分箱后，会生成两个新包裹</h4>
    <h4>注意：每次分箱只会分成两箱，如果需要分成多箱请重复分箱操作</h4>
</md-content>
