<md-content class="md-padding">
    <h4>1. 选择两个或以上包裹，点击合箱。(合箱前请确保所有选中包裹寄往同一收件人/地址)</h4>
    <img src="~/Images/Intro/IntroCombinePackage1.jpg" style="max-width:100%">
    <h4>2. 确认合箱以后，会生成新包裹</h4>
    <img src="~/Images/Intro/IntroCombinePackage2.jpg" style="max-width:100%">
</md-content>
