<md-content class="md-padding">
    <h4>1. 点击普通转运或者在包裹管理页面点击添加包裹</h4>
    <img src="~/Images/Intro/IntroAddPackage1.jpg" style="max-width:100%">
    <h4>2. 填写相应信息创建包裹</h4>
    <ul>
        <li>包裹追踪号：美国当地订单追踪号 (Fedex, UPS, USPS)，如果自送货也请填写“自送货”</li>
        <li>订单号：美国当地订单号 (Order Number)，可不填</li>
        <li>备注：美国当地订单号 (Order Number)，可不填</li>
        <li>发货人：选择已有发货人，或添加新发货人</li>
        <li>收货地址：选择已有收货地址，或添加新地址</li>
        <li>品牌：填写物品品牌，英文</li>
        <li>名称：填写物品名称和规格，中文</li>
        <li>种类：选择物品种类 (注意：物品种类会决定最终运费单价，查看物品种类/渠道详情请<a href="/Home/Service" target="_blank">点击这里</a>)</li>
        <li>单价：请如实填写物品美金单价，请勿填写人民币价格</li>
        <li>数量：请如实填物品数量</li>
    </ul>
    <p class="text-primary">注意：请您如实填写物品信息，如果申报有误造成的海关罚款会从您的账户里扣除</p>
    <img src="~/Images/Intro/IntroAddPackage2.jpg" style="max-width:100%">
    <h4>3. 保存包裹以后表格中会出现此条记录</h4>
    <img src="~/Images/Intro/IntroAddPackage3.jpg" style="max-width:100%">
</md-content>
