<div layout-gt-sm="row" style="max-width:1200px">
    <md-input-container class="md-block" flex>
        <label>包裹追踪号 (Tracking #)</label>
        <input ng-model="package.Tracking">
    </md-input-container>
    <md-input-container class="md-block" flex>
        <label>订单号 (Order #, 可不填)</label>
        <input ng-model="package.OrderNumber">
    </md-input-container>
    <md-input-container class="md-block" flex>
        <label>备注 (可以添加其他要求)</label>
        <input ng-model="package.Notes">
    </md-input-container>
    <md-input-container class="md-block" flex>
        <label>重量 (预估)</label>
        <input ng-model="package.WeightEst">
    </md-input-container>
    <md-input-container class="md-block" data-ng-show="isAdmin">
        <label>包裹状态</label>
        <md-select ng-model="package.SubStatus">
            <md-option ng-repeat="status in statusList track by $index" data-ng-value="status">
                {{status}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="md-block" data-ng-show="!isAdmin">
        <label>包裹状态</label>
        <input disabled ng-model="package.Status">
    </md-input-container>

</div>
<div layout="row">
    <md-input-container md-no-float class="md-block hide-md-error-msg">
        <label>请选择发货人</label>
        <md-select ng-model="package.Sender" ng-model-options="{trackBy: '$value.ID'}">
            <md-option ng-repeat="sender in senders track by $index" data-ng-value="sender" md-on-close="updateSenderString()">
                {{sender.senderString}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-button class="md-warn" ng-show="senders.length>0" ng-click="showSenderManager()">编辑当前发货人</md-button>
    <md-button class="md-warn" ng-click="showSenderManager({})">添加新发货人</md-button>
    <md-button class="md-warn" ng-click="deleteSender(package.Sender.ID)">删除当前发货人</md-button>
</div>
<div layout="row">
    <md-input-container md-no-float class="md-block hide-md-error-msg">
        <label>请选择收货地址</label>
        <md-select ng-model="package.Address" ng-model-options="{trackBy: '$value.ID'}">
            <md-option ng-repeat="address in addresses track by $index" data-ng-value="address" md-on-close="updateAddressString()">
                {{address.addressString}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-button class="md-warn" ng-show="addresses.length>0" ng-click="showAddressManager()">编辑当前地址</md-button>
    <md-button class="md-warn" ng-click="showAddressManager({})">添加新地址</md-button>
    @*<md-button class="md-warn" ng-click="deleteAddress(package.Address.ID)">删除当前地址</md-button>*@
</div>
<div layout="row">
    <md-table-container>
        <table class="table table-striped table-condensed" md-table md-row-select="options.rowSelection" style="max-width:90%" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="productsOrder" md-on-reorder="logOrder">
                <tr md-row>
                    <th md-column md-numeric md-order-by="Number" class="text-center"><span>#</span></th>
                    <th md-column md-order-by="Brand" class="text-center"><span>品牌(英文)</span></th>
                    <th md-column md-order-by="Name" class="text-center"><span>名称(中文)</span></th>
                    <th md-column md-order-by="Channel" class="text-center"><span>种类</span></th>
                    <th md-column md-order-by="Price" class="text-center"><span>单价(美金)</span></th>
                    <th md-column md-order-by="Quantity" class="text-center"><span>数量</span></th>
                    <th md-column md-order-by="" class="text-center"><span></span></th>
                </tr>
            </thead>

            <tbody md-body>
                <tr md-row md-select="product" md-select-id="Number" md-auto-select="false" ng-repeat="product in package.Products | orderBy: productsOrder track by $index">
                    <td md-cell>{{product.Number}}</td>
                    <td md-cell>
                        <md-input-container md-no-float class="md-block hide-md-error-msg" layout-fill>
                            <input ng-model="product.Brand" aria-label="brand">
                        </md-input-container>
                    </td>
                    <td md-cell>
                        <md-input-container md-no-float class="md-block hide-md-error-msg" layout-fill>
                            <input ng-model="product.Name" aria-label="name">
                        </md-input-container>
                    </td>
                    <td md-cell>
                        <md-input-container md-no-float class="md-block hide-md-error-msg" layout-fill>
                            @*<input ng-model="product.Channel" aria-label="category">*@
                            <md-select ng-model="product.Channel" aria-label="category">
                                <md-optgroup ng-repeat="category in categories" label="{{category.Port}}">
                                    <md-option ng-value="c.ID" ng-repeat="c in category.Categories">{{c.Category}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td md-cell>
                        <md-input-container md-no-float class="md-block hide-md-error-msg" layout-fill>
                            <input type="number" ng-model="product.Price" aria-label="price">
                        </md-input-container>
                    </td>
                    <td md-cell>
                        <md-input-container md-no-float class="md-block hide-md-error-msg" layout-fill>
                            <input type="number" ng-model="product.Quantity" aria-label="quantity">
                        </md-input-container>
                    </td>
                    <td md-cell><md-button class="md-warn md-mini" data-ng-show="$index>0" ng-click="removeProduct($index)" layout-fill>删除</md-button></td>
                </tr>
            </tbody>
        </table>
        <md-button class="md-raised md-warn pull-left" 
                   data-ng-if="isAdmin||package.SubStatus==='待入库'||package.SubStatus==='已入库'" ng-click="addProduct()">添加</md-button>
        <br />
        <br />
        <md-button class="md-raised md-warn pull-right" 
                   data-ng-if="isAdmin||package.SubStatus==='待入库'||package.SubStatus==='已入库'" data-ng-click="updatePackage()">保存包裹</md-button>
    
    </md-table-container>

</div>
<br />
