body.body-side-menu {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    overflow:hidden;
}

body.body-normal {
    margin-top: 50px;
    padding-bottom: 20px;
    height:auto !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* ajax loading start */

.loading-modal {
    display: none;
    position: fixed;
    z-index: 9500;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../Images/ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .loading-modal {
    display: block;
}

/* ajax loading end */




/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.container-full {
  margin: 0 auto;
  width: 100%;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

md-input-container.hide-md-error-msg .md-errors-spacer:empty {
    display: none;
}

.md-select-menu-container {
    z-index: 1083 !important;
}

.md-select-backdrop{
    z-index: 1082 !important;
}

.md-datepicker-button {
    width: 36px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.md-datepicker-input-container {
    margin-left: 0px !important;
}

.md-datepicker-input {
    min-width: 0px !important;
}

/*Bootstrap multiple level menu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 50px;
    left: 0;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-top-color: #cccccc;
    margin-top: 10px;
    margin-left: 5px;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*end*/

.md-fab.docs-scroll-fab {
  position: fixed !important;
  transform: scale(0);
  transition: transform 0.2s;
}

.docs-scroll-fab.scrolling {
  transform: scale(1);
}


.table-condensed th, .table-condensed td {
    padding: 0 5px 0 0 !important;
}

.borderless td, .borderless th {
    border: none !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding:0 !important;
}


/***** Make sure Dialog is in front of bootstrap modal *****/
.md-dialog-container {
  z-index: 1080 !important;
}
.modal {
  z-index: 1050 !important;
}
.modal-dialog{
  z-index: 1060 !important;
}


/***** Message Bubble Start *****/

.message-bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.message-bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.message-bubble-me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}
.message-bubble-me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.message-bubble-you {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.message-bubble-you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

/***** Message Bubble End *****/


/******File Upload*****/
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
/****File Upload End****/



md-nav-bar .md-nav-bar button span {
    font-size: 24px;
}

md-nav-bar .md-nav-bar button.md-active span {
    font-weight: bold;
}

md-nav-bar .md-nav-bar button.md-active {
    border-color: #E95620;
    color: #E95620;
}

   

md-nav-bar md-nav-ink-bar {
    background: #E95620 none repeat scroll 0 0;
}

.fileinput-button .md-errors-spacer{
    display:none;
}