<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">留言</h4>
            </div>
            <div class="modal-body">
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>分类</label>
                        <md-select ng-model="message.Category">
                            <md-option ng-repeat="category in messageCategories track by $index" data-ng-value="category">
                                {{category}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>状态</label>
                        <input disabled ng-model="message.Status">
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label>相关单号</label>
                        <input ng-model="message.Tracking">
                    </md-input-container>
                </div>

                <md-list flex>
                    <md-list-item class="md-long-text no-margin" data-ng-repeat="content in message.MessageContents track by $index">
                        <md-button ng-if="content.Sender===message.UserCode" class="md-fab md-mini md-warn" 
                                   style="margin:3px 3px;min-width:40px !important;align-self:flex-start" aria-label="">
                            我
                        </md-button>
                        <div ng-if="content.Sender===message.UserCode" class="md-list-item-text message-bubble message-bubble-me" style="margin:5px 120px 5px 20px">
                            <h6 style="margin:5px 0">{{ content.Timestamp }}</h6>
                            <p>{{ content.Comment }}</p>
                        </div>
                        <a href="" ng-click="deleteMessageContent($event, $index)" ng-if="content.Sender===message.UserCode" style="margin-left:-100px"><i class="material-icons">remove_circle</i></a>
                        <span flex></span>
                        <a href="" ng-click="deleteMessageContent($event, $index)" ng-if="isAdmin&&content.Sender!==message.UserCode" style="margin-right:-100px"><i class="material-icons">remove_circle</i></a>
                        <div ng-if="content.Sender!==message.UserCode" class="md-list-item-text message-bubble message-bubble-you" style="margin:5px 20px 5px 120px">
                            <h6 style="margin:5px 0" class="text-right">{{ content.Timestamp }}</h6>
                            <p class="">{{ content.Comment }}</p>
                        </div>
                        <md-button ng-if="content.Sender!==message.UserCode" class="md-fab md-mini md-primary" 
                                   style="margin:3px 3px;min-width:40px !important;align-self:flex-start" aria-label="">
                            美天
                        </md-button>
                    </md-list-item>
                </md-list>
                <br />
                <br />
                <md-input-container class="md-block" layout-fill>
                    <label>点击这里添加新留言</label>
                    <textarea ng-model="comment" style="max-width:100%" md-maxlength="500" md-select-on-focus></textarea>
                </md-input-container>
                <md-button class="md-raised md-warn" aria-label="submit" ng-click="postMessage($event, comment)">
                    提交
                </md-button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="closeMessage()" data-dismiss="modal">设置为已解决</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>