@{
    ViewBag.Title = "美天优递";
}

<div class="">
    <div class="jumbotron">
        <h1>美天优递</h1>
        <p class="lead">快递 & 转运 & 海淘</p>
        <p><a href="#" class="btn btn-primary btn-lg">更多 &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>快递</h2>
        <p>
            最经济 最快捷 最安全
        </p>
        <p><a class="btn btn-default" href="#">更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>转运</h2>
        <p>免税仓储</p>
        <p><a class="btn btn-default" href="#">更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>海淘</h2>
        <p>价格实惠、时效最优</p>
        <p><a class="btn btn-default" href="#">更多 &raquo;</a></p>
    </div>
</div>
