@{
    ViewBag.Title = "渠道说明";
}

<div layout="column" class="container">
    <table class="table-striped" style="font-size:12px;width:100%">
        <thead>
            <tr>
                <th style="width:90px">口岸</th>
                <th>商品类别</th>
                <th>具体品名</th>
                <th>物品要求</th>
                <th>关税</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td rowspan="7">
                    <p><strong><span style="font-size:18px">B口岸</span></strong></p>
                </td>
                <td>母婴用品类</td>
                <td>奶瓶、辅食研磨器、尿片、吸管、婴儿餐具、婴儿洗护品等婴（婴幼儿食品含肉泥不可以）</td>
                <td rowspan="7">
                    <p>同商品(定义看备注)不超过7个，鞋2双，婴儿鞋4双（36个月以下）。</p>
                    <p>暂不可以发： 打火机、牛肉干、肉泥。</p>
                    <p>YSL、Givenchy围巾，一箱1条免税，2条补交10美金关税，3条补交20美金关税，4条及以上不可以寄</p>
                    <p>保健品限8件，衣服限10件</p>
                    <p>限重：7磅</p>
                </td>
                <td rowspan="7">
                    包关税（除特殊标记外$300以下）
                </td>
            </tr>
            <tr>
                <td>普通服装类</td>
                <td>童鞋、羽绒服、童装、毛衣、西装、靴子、衬衫、T恤、毛衣、大衣、棉衣、内衣、裤装、帽子、儿童普通眼镜、皮带扣、领带夹、Juicy&nbsp;Couture、Disney玩具手表及太阳眼镜等</td>
            </tr>
            <tr>
                <td>
                    <p>生活日用品类</p>
                </td>
                <td>
                    <p>成人洗护用品：洗发水、生发液、润肤露、沐浴露（不包括kiehl's等专柜产品）</p>

                    <p>运动物品装备、玩具、牙膏、文具、书籍、餐具、茶具、杯子、厨具、床上用品</p>
                </td>
            </tr>
            <tr>
                <td >
                    <p>食品类</p>
                </td>
                <td>
                    <p>泡芙、坚果、膨化食品、饼干、米粉、糖果、巧克力、花旗参糖、果泥，液体奶等（必须写明克数，粒数）</p>
                </td>
            </tr>
            <tr>
                <td >
                    <p>保健品类</p>
                </td>
                <td>
                    <p>维他命、葡萄粉、鱼油、维生素、液体钙、儿童DHA、姜黄素、螺旋藻等（必须写明克数，粒数）</p>
                </td>
            </tr>
            <tr>
                <td >
                    <p>围巾、皮带类</p>
                </td>
                <td>
                    <p>COACH、MK、CK、Ks、TB品牌包含以下（每箱最多3个，达上限不能混装）</p>
                </td>
            </tr>
            <tr>
                <td >
                    <p>鞋子</p>
                </td>
                <td>
                    <p>MINNETONKA、UGG、ECCO、ASICS、KAPPA、Ninewest、NIKE、Jordan、Rockport、KIPLING、Herschel、JACK、JANSPORT、LACOSTE、LUCKY、POLO、D、VANS、等</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong><span style="font-size:18px">C1口岸</span></strong></p>
                </td>
                <td >
                    <p>普通化妆品类</p>
                </td>
                <td>
                    <p>唇膏、眼霜、面膜、防晒霜、香水、眼影、睫毛膏、眉笔、爽肤水、BB霜、日霜、晚霜(喷雾商品如：防晒油)</p>
                </td>
                <td>
                    <p>单箱内件产品不超6个，礼盒计算里面的件数，香水不超过4个，内件超过6个补收$10美金关税，超过12件补收$20美金关税，最高限制数量为15个。</p>

                    <p>YSL、Chanel、Dior、Givenchy、Jo Malone类口红及唇彩系列，一箱3件免税，4件补交10美金关税，5件补交20美金关税，6件及以上不可以寄。</p>

                    <p>YSL、Chanel、Dior、Givenchy、Jo Malone类护肤品及香水类一箱1件免税，2件补交10美金关税，3件补交20美金关税，4件及以上不可以寄（此类不可混装其他品牌化妆品）</p>

                    <p>限重：4磅</p>
                </td>
                <td rowspan="7">
                    <p>包关税（除特殊标记外$300以下）</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong><span style="font-size:18px">C2口岸</span></strong></p>
                </td>
                <td >
                    <p>二线品牌箱包类</p>
                </td>
                <td>
                    <p>COACH、MK、CK、KS、GUESS、DKNY、LONGCHAMP、NINEWEST、RebeccaMinkoff、TORYBURCH、Furla、Colehaan、Mywalit、Korsmichael、SATURDAY、TOMMY、Jessicasimpson、Herschel、JACK、LACOSTE、LUCKY、POLO、VANS、kipling、JanSport、LeSportsac</p>

                    <p>Coach，MK，KS, TB 等鞋类</p>
                </td>
                <td>
                    <p>每箱限装1个大包。2个小钱包。1个大包带1个小钱包。</p>

                    <p>限重：7磅</p>
                </td>
            </tr>
            <tr>
                <td rowspan="5">
                    <p><strong><span style="font-size:18px">C3口岸</span></strong></p>
                </td>
                <td >
                    <p>二线品牌眼镜</p>
                </td>
                <td>
                    <p>COACH、TB,GUESS、CK、MK、Tumi等（3个/箱，达上限不能混装）</p>
                </td>
                <td rowspan="5">
                    <p>每个包裹限一个手表：价值在$300以内二线品牌手表需$10清关费用、价值在$500以内一线品牌手表取$20清关费用。</p>

                    <p>吸尘器，扫地机器人，空气净化机，等小家电需$25 清关费用，最高货值$500 美金（每个限重30磅）</p>

                    <p>电子游戏机，网卡，CPU，3D眼镜（$20关税）</p>

                    <p>限重：7磅</p>
                </td>
            </tr>
            <tr>
                <td >
                    <p>中价手表</p>
                </td>
                <td>
                    <p>CASIO、SEKIO、HAMILTON、CK、COACH、MK、guess等中价手表（1个/箱）手表每箱征收$10关税</p>
                </td>
            </tr>
            <tr>
                <td >
                    <p>小家电类</p>
                </td>
                <td>
                    <p>电动剃须刀(2个/箱)、吸奶器、电动洗脸刷、家用美容仪、纹身机等</p>
                </td>
            </tr>
            <tr>
                <td >
                    <p>电子数码产品及配件</p>
                </td>
                <td>
                    <p>无油火机、录音笔、电子游戏机、耳温计、无线麦克风、耳机、电脑配件（必须明确写出中文名称）、音箱、台灯等、充电宝（小于15000毫安）</p>
                </td>
            </tr>
            <tr>
                <td >
                    <p>其他</p>
                </td>
                <td>
                    <p>望远镜、施华洛世奇5个</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong><span style="font-size:18px">D口岸</span></strong></p>
                </td>
                <td >
                    <p>大件包裹</p>
                </td>
                <td>
                    <p>婴儿推车，安全座椅，大型玩具等大体积物品</p>
                </td>
                <td>
                    <p>最长边长度47英寸之内</p>

                    <p>限重：50磅</p>
                </td>
                <td>
                    <p>包关税（除特殊标记外$300以下）</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong><span style="font-size:18px">E口岸</span></strong></p>
                </td>
                <td >
                    <p>奶粉类</p>
                </td>
                <td>
                    <p>婴儿奶粉</p>
                </td>
                <td>
                    <p>
                        填单或做单时需标明规格<br />
                        （段数/xxx克）
                    </p>
                    <p>限制：10磅(3罐以内）</p>
                </td>
                <td>
                    <p>包关税</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="color:#FF0000"><strong><span style="font-size:18px">暂不能走的物品</span></strong></span></p>
                </td>
                <td colspan="5">
                    <p>药物类、海参、西洋参、种子、易燃易爆危险品、易腐蚀品、管制刀具、毒品、军火、文物古玩、有价证券、国家货币、贵重金银首饰、钻石、海关明文规定禁运物品。</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>备注</p>
                </td>
                <td colspan="5">
                    <p>1) 所有渠道2磅起运。</p>

                    <p>2) 相同商品：同尺寸、同颜色、同口味、同包装。</p>

                    <p>3) 保险价格按照物品总价值的3%进行保价，每箱产品保价上限1000美金。（玻璃制品，瓷制品，易碎品全部不保不赔）</p>

                    <p>4）每箱包裹内件总价不超过$300。</p>
                </td>
            </tr>
        </tbody>
    </table>

</div>
